header {
  height: 20vh; }

#showcase {
  width: 100%;
  height: 80vh;
  position: relative; }
  #showcase nav {
    background: rgba(34, 34, 34, 0.5);
    padding: 0;
    border-top: 2px solid #957b56;
    border-bottom: 8px solid #957b56; }
    #showcase nav .nav-item {
      padding: 0; }
      #showcase nav .nav-item .nav-link {
        color: white;
        padding: 0 20px;
        line-height: 86px;
        transition: all 0.8s ease-out; }
        #showcase nav .nav-item .nav-link:hover {
          background: rgba(34, 34, 34, 0.7);
          color: #957b56;
          transition: all 0.8s ease-out; }
        #showcase nav .nav-item .nav-link.active {
          background: rgba(34, 34, 34, 0.7);
          color: #957b56;
          transition: all 0.8s ease-out; }
    #showcase nav.not-sticky {
      position: absolute;
      bottom: 0;
      z-index: 99;
      width: 100%;
      transition: all 0.5s ease-out; }
    #showcase nav.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 100;
      background: url("../images/nav-affix-bg.jpg") no-repeat;
      background-size: cover;
      transition: all 0.5s ease-out; }
  #showcase .swiper-container {
    width: 100%;
    height: 100%; }
  #showcase .swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center; }
    #showcase .swiper-slide .swiper-slide-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(34, 34, 34, 0.3); }
  #showcase .swiper-button-next {
    background-image: none;
    border: 2px solid rgba(149, 123, 86, 0.4);
    color: rgba(149, 123, 86, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 30px;
    font-size: 2rem;
    transition: all 0.5s ease-out; }
    #showcase .swiper-button-next:hover {
      border: 2px solid #957b56;
      color: #957b56;
      transition: all 0.5s ease-out; }
  #showcase .swiper-button-prev {
    background-image: none;
    border: 2px solid rgba(149, 123, 86, 0.4);
    color: rgba(149, 123, 86, 0.4);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    width: 20px;
    height: 20px;
    padding: 30px;
    font-size: 2rem;
    transition: all 0.5s ease-out; }
    #showcase .swiper-button-prev:hover {
      border: 2px solid #957b56;
      color: #957b56;
      transition: all 0.5s ease-out; }
  #showcase .slide-1 {
    background: url("../images/gw-slide1.jpg") no-repeat center center;
    background-size: cover; }
  #showcase .slide-2 {
    background: url("../images/new.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.gift-showcase .slide-1 {
    background: url("../images/gw-slide1.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.gift-showcase .slide-2 {
    background: url("../images/gw-slide2.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.gift-showcase .slide-3 {
    background: url("../images/gw-slide3.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.gift-showcase .slide-4 {
    background: url("../images/gw-slide4.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.coctail-showcase .slide-1 {
    background: url("../images/new.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.coctail-showcase .slide-2 {
    background: url("../images/margarita.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.coctail-showcase .slide-3 {
    background: url("../images/smoke.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.coctail-showcase .slide-4 {
    background: url("../images/smaller-bloom-.jpg") no-repeat center center;
    background-size: cover; }
  #showcase.contact-showcase .swiper-container {
    background: url("../images/phone-op.jpg") no-repeat center center;
    background-size: cover; }

.search-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(34, 34, 34, 0.9);
  z-index: 144;
  transform: translate3d(100%, 0, 0);
  transition: all 0.5s ease-out; }
  .search-menu.show {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-out; }
  .search-menu .menu-ul {
    text-align: center; }
    .search-menu .menu-ul li {
      list-style-type: none;
      padding: 20px 0; }
      .search-menu .menu-ul li a {
        color: #ddd;
        text-decoration: none; }
        .search-menu .menu-ul li a:hover {
          color: #957b56;
          text-decoration: none;
          transition: all 0.5s ease-out; }
  .search-menu .search-close-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 145;
    color: white;
    cursor: pointer; }
    .search-menu .search-close-btn:hover {
      color: #957b56;
      transition: all 0.5s ease-out; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: #957b56;
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 7px 18px;
  /* Some padding */
  border-radius: 50%;
  /* Rounded corners */
  font-size: 22px;
  /* Increase font size */
  transition: all 0.5s ease-out; }

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
  transition: all 0.5s ease-out; }

.card {
  background: none;
  border: none !important; }

#our-services {
  padding-top: 100px; }
  #our-services.front-services .card .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover; }
  #our-services .card {
    background: none; }
    #our-services .card a:hover {
      text-decoration: none; }
    #our-services .card h3 {
      color: #ddd; }
      #our-services .card h3:hover {
        color: #957b56;
        text-decoration: none;
        transition: all 0.5s ease-out; }

#gift-services .card {
  background: transparent; }

#coctail-services {
  padding: 50px 0;
  color: #222222;
  background: #f2f2f2; }
  #coctail-services .card {
    background: none;
    border: none;
    margin-bottom: 30px; }

#testimonial {
  padding: 100px 0;
  color: #ddd; }
  #testimonial .testimonial-container {
    text-align: center; }
    #testimonial .testimonial-container .testimonial-img {
      width: 100px;
      margin: auto; }
      #testimonial .testimonial-container .testimonial-img img {
        border-radius: 50%; }
    #testimonial .testimonial-container .testimonial-comment {
      text-align: center;
      padding: 20px 0;
      width: 80%;
      margin: auto;
      height: 200px;
      line-height: 1.8rem; }
    #testimonial .testimonial-container .testimonial-bio {
      text-align: center;
      padding: 20px 0; }
    #testimonial .testimonial-container .swiper-container {
      width: 100%;
      height: 100%; }

#newsLetter {
  position: relative;
  color: #957b56;
  padding: 100px 0; }
  #newsLetter .newsletter-img-1, #newsLetter .newsletter-img-2 {
    position: absolute; }
  #newsLetter .newsletter-img-1 {
    top: 30%;
    left: 0; }
  #newsLetter .newsletter-img-2 {
    top: 30%;
    right: 0; }
  #newsLetter .subscribe-input {
    border-radius: 100px 0 0 100px;
    background-image: url("../images/email-logo.png");
    background-repeat: no-repeat;
    background-position: center left;
    background-size: 40px;
    padding-left: 70px;
    background-position-x: 3%; }
  #newsLetter button {
    border-radius: 0 100px 100px 0; }

#map {
  width: 100vw;
  height: 80vh; }

#contact #contact-form {
  padding: 120px 0;
  background: #222222;
  color: white; }

#contact .contact-address li {
  list-style-type: none;
  line-height: 30px; }
  #contact .contact-address li:hover .fa {
    color: #957b56;
    transition: all 0.5s ease-out; }
  #contact .contact-address li .fa {
    font-size: 1.2rem;
    transition: all 0.5s ease-out;
    width: 20px; }

#main-footer {
  position: relative;
  background: #f2f2f2;
  color: #222222; }
  #main-footer .footer-list-header {
    margin-bottom: 20px; }
  #main-footer .footer-list li {
    list-style-type: none;
    line-height: 2.2rem; }
    #main-footer .footer-list li a {
      color: #222222;
      font-size: 1.1rem;
      transition: all 0.5s ease-out; }
      #main-footer .footer-list li a:hover {
        color: #957b56;
        text-decoration: none;
        transition: all 0.5s ease-out; }
  #main-footer .footer-address li:hover {
    transition: all 0.5s ease-out; }
    #main-footer .footer-address li:hover .fa {
      color: #957b56;
      transition: all 0.5s ease-out; }
  #main-footer .footer-address li .fa {
    margin-right: 10px;
    width: 20px; }
  #main-footer .bottom-footer {
    padding: 50px 0; }
    #main-footer .bottom-footer a {
      text-align: center; }
    #main-footer .bottom-footer .fa {
      padding: 7px;
      border-radius: 100px;
      color: white;
      width: 30px;
      margin: 0 5px;
      background: white; }
    #main-footer .bottom-footer .footer-icons {
      text-align: right; }
      #main-footer .bottom-footer .footer-icons .fa {
        transition: all 0.5s ease-out; }
      #main-footer .bottom-footer .footer-icons .fa-facebook {
        color: #3B5998 !important; }
        #main-footer .bottom-footer .footer-icons .fa-facebook:hover {
          background: #3B5998 !important;
          color: white !important;
          transition: all 0.5s ease-out; }
      #main-footer .bottom-footer .footer-icons .fa-twitter {
        color: #1DA1F2 !important; }
        #main-footer .bottom-footer .footer-icons .fa-twitter:hover {
          background: #1DA1F2 !important;
          color: white !important;
          transition: all 0.5s ease-out; }
      #main-footer .bottom-footer .footer-icons .fa-instagram {
        color: #fb3958 !important; }
        #main-footer .bottom-footer .footer-icons .fa-instagram:hover {
          background: #fb3958 !important;
          color: white !important;
          transition: all 0.5s ease-out; }
      #main-footer .bottom-footer .footer-icons .fa-youtube {
        color: #ff0000 !important; }
        #main-footer .bottom-footer .footer-icons .fa-youtube:hover {
          background: #ff0000 !important;
          color: white !important;
          transition: all 0.5s ease-out; }
      #main-footer .bottom-footer .footer-icons .fa-linkedin {
        color: #0077b5 !important; }
        #main-footer .bottom-footer .footer-icons .fa-linkedin:hover {
          background: #0077b5 !important;
          color: white !important;
          transition: all 0.5s ease-out; }

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: block; } }

@media screen and (max-width: 500px) {
  .navbar-brand {
    display: block; } }

@media screen and (min-width: 769px) {
  .navbar-brand {
    display: none; } }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  background: #222222;
  color: #ddd;
  overflow-x: hidden;
  font-family: 'Nunito', Helvetica , Arial , sans-serif; }

.section-title {
  padding-bottom: 20px;
  background: url("../images/section-title.png") no-repeat center bottom; }

.nav-affix-bg {
  width: 20px;
  height: 20px;
  margin: auto; }
